@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F4F5F7;
    --foreground: #0D0F11;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings: "rlig" 1, "calt" 1;
    -webkit-font-smoothing: antialiased;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #EAECEF;
}

::-webkit-scrollbar-thumb {
  background: #C4C9D0;
  border-radius: 3px;
}
